<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script type="text/javascript" src="/vendor/bower_components/jquery/dist/jquery.min.js" s></script>
    <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js" s></script>
</head>
<body>
<%-body -%>
</body>
</html>